<ion-view view-title="Playlists">
    <ion-nav-title ng-show="!hasFilters">
        <img src="img/icon-small.png" />
    </ion-nav-title>
    <search-bar ng-model="search"></search-bar>
    
  <ion-content>
    <div class="bar bar-header bar-dark">
      <h1 class="title">CART</h1>
    </div>
    
    <div class="list" style="top: 44px;">
    
        <a class="item item-thumbnail-left" href="#">
          <img src="img/product1.png">
          <i style="float: right;" class="icon ion-trash-a"></i>
          <h2>Earthkeepers Sneakers</h2>
          <p>Size: 38 | Color: Brown </p>
         <div class="price" style="loat: LEFT; font-size: 20px;font-weight: 900;color: #6FD0D6;margin-top: 18px;margin-bottom: -7px;">$125</div>
        <div class="pull-right" style="float: right; margin-bottom: -6px; margin-top: -15px;">
            <i class="icon ion-plus icon-square" ng-click="myquantity('1')"></i><span> {{quantity}} </span><i class="icon ion-minus icon-square" ng-click="myquantity('0')"></i>
        </div>
        </a>
        
        <a class="item item-thumbnail-left" href="#">
          <img src="img/product2.png">
          <i style="float: right;" class="icon ion-trash-a"></i>
          <h2>Perforated Oxfords</h2>
          <p>Size: 38 | Color: Brown </p>
          <div class="price" style="loat: LEFT; font-size: 20px;font-weight: 900;color: #6FD0D6;margin-top: 18px;margin-bottom: -7px;">$125</div>
        <div class="pull-right" style="float: right; margin-bottom: -6px; margin-top: -15px;">
            <i class="icon ion-plus icon-square" ng-click="myquantity('1')"></i><span> {{quantity}} </span><i class="icon ion-minus icon-square" ng-click="myquantity('0')"></i>
        </div>
        </a>
        
        <a class="item item-thumbnail-left" href="#">
          <img src="img/product3.png">
          <i style="float: right;" class="icon ion-trash-a"></i>
          <h2>G.H Bas & Co. Oxfords</h2>
          <p>Size: 38 | Color: Brown </p>
          <div class="price" style="loat: LEFT; font-size: 20px;font-weight: 900;color: #6FD0D6;margin-top: 18px;margin-bottom: -7px;">$125</div>
        <div class="pull-right" style="float: right; margin-bottom: -6px; margin-top: -15px;">
            <i class="icon ion-plus icon-square" ng-click="myquantity('1')"></i><span> {{quantity}} </span><i class="icon ion-minus icon-square" ng-click="myquantity('0')"></i>
        </div>
        </a>
    
    </div>
   <div class="list" style="top: 23px;">
          <div class="item item-text-wrap">
            <div class="pull-right" >
                <p style="padding-right:10px;">Sub Total  <span style="float: right;">$50</span></p> <br />
                <p style="padding-right:10px;">Delivery Charges <span style="float: right;">$10</span></p> <br />
                <p style="padding-right:10px;">Service Charges  <span style="float: right;">$5</span></p><br />
                <hr />
                <span style="padding-right:10px; font-weight:900;">Total Charges  <span style="float: right;">$65</span></p><br />
            </div>
          </div>
        </div>
        <button class="button button-full button-calm" style="color: #fff;">NEXT STEP</button>
    
  </ion-content>
</ion-view>
