<ion-view view-title="Search">
  <ion-content>
    <div class="bar bar-header bar-dark">
      <h1 class="title">Filter</h1>
    </div>
    <div style="float: left;width: 100%;">
        <div style="float: left;width: 30%;background: black;color: white;height: 500px;">
            <a href="javascript:;" style="color: #fff;width: 100%;font-size: 1.4em;float: left;text-decoration: none;padding: 7px;border-bottom: 2px solid #444;font-weight: 600;">Type</a>
            <a href="javascript:;" style="color: #fff;width: 100%;font-size: 1.4em;float: left;text-decoration: none;padding: 7px;border-bottom: 2px solid #444;font-weight: 600;">Type</a>
            <a href="javascript:;" style="color: #fff;width: 100%;font-size: 1.4em;float: left;text-decoration: none;padding: 7px;border-bottom: 2px solid #444;font-weight: 600;">Type</a>
        </div>
        <div style="float: left;width: 70%; background: yellow;height: 500px;" id="defg"></div>
    </div>
  </ion-content>
</ion-view>
