<ion-view view-title="Setting">
  <ion-content class="forgot">
    <div class="hero">
        <h3><a class="title">Settings</a></h3>
        <div class="avatar" style="background-image: url('img/profile1.jpg');"></div>      
    </div>
    <div style="width: 100%; height:50px;"></div>
    <div class="list">
    
      <a class="item item-icon-right" href="#">
        CHANGE USERNAME
        <i class="icon ion-arrow-right-c"></i>
      </a>
    
      <a class="item item-icon-right" href="#">
        CHANGE PASSWORD
        <i class="icon ion-arrow-right-c"></i>
      </a>
      
      <a class="item item-icon-right" href="#">
        CHANGE USERNAME
        <i class="icon ion-arrow-right-c"></i>
      </a>
      
      <li class="item item-toggle">
           HTML5
           <label class="toggle toggle-calm">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      
      <a class="item item-icon-right" href="#">
        CHANGE DEFAULT SHIPPING ADDRESS
        <i class="icon ion-arrow-right-c"></i>
      </a>
      
      <a class="item item-icon-right" href="#">
        MANAGE SAVED CARDS
        <i class="icon ion-arrow-right-c"></i>
      </a>
      
      <a class="item item-icon-right" href="#">
        TRACK ORDERS
        <i class="icon ion-arrow-right-c"></i>
      </a>
    
    </div>
    <div style="width: 100%; height:50px;"></div>
  </ion-content>
</ion-view>
