<ion-view view-title="Playlists">
    <ion-nav-title ng-show="!hasFilters">
        <img src="img/icon-small.png" />
    </ion-nav-title>
    <search-bar ng-model="search"></search-bar>
    
  <ion-content>
    <div class="bar bar-header bar-dark">
      <h1 class="title">SHIPPING DETAILS</h1>
    </div>
    <div class="list" style="top: 35px;">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Address Line 1</span>
        <input type="text" placeholder="Address Line 1">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Address Line 2</span>
        <input type="text" placeholder="Address Line 2">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">City/Town</span>
        <input type="text" placeholder="City/Town">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">State</span>
        <input type="text" placeholder="State">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Countary</span>
        <input type="text" placeholder="Countary">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Pin Code</span>
        <input type="text" placeholder="Pin Code">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input type="text" placeholder="Phone Number">
      </label>
      
    </div>
        <button class="button button-full button-calm" style="color: #fff;">CONTINUE</button>
    
  </ion-content>
</ion-view>
