<ion-view title="Login" class="logintitle">
   <ion-content padding="true" scroll="false" class="has-header">

      <form name="userLogin" ng-controller="loginCtrl as lc" novalidate>

         <div class="spacer" style="width:300px; height:63px;"></div>
            <label class="item item-input">
               <input type="email" name="username" ng-model="lc.user.username" placeholder="Username" required>
            </label>
            <p ng-show="userLogin.username.$invalid && !userLogin.username.$pristine && userLogin.username.$error.email" class="help-block"><span class="min-valid">Please enter a valid email.</span></p>
                <p ng-show="userLogin.username.$invalid && !userLogin.username.$pristine && userLogin.username.$error.required" class="help-block"><span class="min-valid">Email is required.</span></p>
         <div class="spacer" style="width:300px; height:12px;"></div>
         <label class="item item-input">
            <input type="{{lc.ShowPassword}}" ng-model="lc.user.password" name="password" placeholder="Password" required>
         </label>
         <p ng-show="userLogin.password.$invalid && !userLogin.password.$pristine && userLogin.password.$error.required" class="help-block"><span class="min-valid">Password is required.</span></p>
         <ion-checkbox name="chkPassword" ng-click="lc.ShowPassword = (lc.ShowPassword == 'password') ? 'text' : 'password'">Show Password</ion-checkbox>
         <div class="spacer" style="width:300px; height:72px;"></div>
         <!-- <button class="button button-positive button-block" ng-click="lc.userLogin()" ui-sref="app.banner" >Sign In</button> -->
         <button class="button button-positive button-block" ng-click="lc.userLogin()" >Sign In</button>
         <div style="width:60%; margin:0 20%">
            <button class="button button-dark button-clear button-small link-button" ui-sref="app.cart" >Forgot Password?</button>
            <div class="HDivider">|</div>
            <button class="button button-dark button-clear button-small link-button" ui-sref="app.signup">Sign Up</button>
         </div>
          <div class="spacer" style="width:2px; height:15px;"></div>
         <hr> 
         <div class="spacer" style="width:2px; height:15px;"></div>
         <div style="width:80%;display:inline; margin:0 10%">
            <button class="button button-positive button-inline" style="width:40%;" ui-sref="app.checkout" >Facebook</button>        
            <button class="button button-positive button-inline" style="width:40%;">Google</button>
         </div>
      </form>
   </ion-content>
</ion-view>