  <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item"  href="#" ng-click="bc.userNav('app.login')">
              Login
            </a>
            <a class="item" href="#" ng-click="bc.userNav('logout')">
              Logout
            </a>
            <a class="item" href="#" ng-click="bc.userNav('app.profile')">
              My Account
            </a>
            <a class="item" href="#"  ng-click="bc.userNav('app.wishlist')">
              Wishlist
            </a>
            <a class="item" href="#"  ng-click="bc.userNav('app.trackorder')">
              Track Order
            </a><!--
            <a class="item" href="#" target="_blank">
              Rate the app
            </a> -->
          </div>
        </ion-content>
      </ion-popover-view>