<ion-view view-title="Checkout" ng-controller="checkoutCtrl as chc">
    <ion-nav-title >
        <img src="img/icon-small.png" style="height: 36px; width: 36px; margin-top: 4px; "/>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="searchBar" >
        <div class="searchTxt" ng-show="chc.showMe">
            <div class="bgtxt">
                <input type="text" ng-model="chc.searchproducts" placeholder="Search Products" >
            </div>
        </div>
        <i class="icon ion-ios-search" ng-click="chc.showMeSearch()"></i>
    <i ui-sref="app.cart" class="icon ion-android-cart"></i>
    </div>
</ion-nav-buttons> 
    
  <ion-content>
    <div class="bar bar-header bar-dark">
      <h1 class="title">SHIPING DETAILS</h1>
    </div>
    <div class="list" style="top: 35px;"  ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" ng-model="chc.user.name" name="name" placeholder="Name" ng-minlength="3" ng-maxlength="15" required />
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && userForm.name.$error.minlength" class="help-block"><span class="min-valid">Name is too short</span></p>
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && userForm.name.$error.maxlength" class="help-block"><span class="min-valid">Name is too long.</span></p>
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && userForm.name.$error.required" class="help-block"><span class="min-valid">Name is required.</span></p>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Address Line 1</span>
        <input type="text" ng-model="chc.user.address1" name="address1" placeholder="Address Line 1" required />
        <p ng-show="userForm.address1.$invalid && !userForm.address1.$pristine && userForm.address1.$error.required" class="help-block"><span class="min-valid">Address1 is required.</span></p>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Address Line 2</span>
        <input ng-model="chc.user.address2" name="address2" type="text" placeholder="Address Line 2" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">City/Town</span>
        <input type="text" ng-model="chc.user.city" name="city"  placeholder="City/Town"/>
        <p ng-show="userForm.city.$invalid && !userForm.city.$pristine && userForm.city.$error.required" class="help-block"><span class="min-valid">City is required.</span></p>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">State</span>
        <input type="text" ng-model="chc.user.state" name="state"  placeholder="State"/>
        <p ng-show="userForm.state.$invalid && !userForm.state.$pristine && userForm.state.$error.required" class="help-block"><span class="min-valid">State is required.</span></p>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Countary</span>
        <input type="text" ng-model="chc.user.countary" name="countary"  placeholder="Countary" />
        <p ng-show="userForm.countary.$invalid && !userForm.countary.$pristine && userForm.countary.$error.required" class="help-block"><span class="min-valid">Countary is required.</span></p>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Pin Code</span>
        <input type="text" ng-model="chc.user.pincode" name="pincode" placeholder="Pin Code" />
        <p ng-show="userForm.pincode.$invalid && !userForm.pincode.$pristine && userForm.pincode.$error.required" class="help-block"><span class="min-valid">Pincode is required.</span></p>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input type="text" ng-model="chc.user.phone" name="phone"  placeholder="Phone Number" />
        <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine && userForm.phone.$error.required" class="help-block"><span class="min-valid">Phone is required.</span></p>
      </label>
      
    </div>
        <button ng-disabled="userForm.$invalid" class="button button-full button-calm" ng-click="chc.GoToNav('payment')" style="color: #fff; margin-top:35px">CONTINUE</button>
    
  </ion-content>
</ion-view>