<ion-view view-title="Password" ng-controller="passwordCtrl as ps">
  <ion-content class="forgot">
  <form name="passChange" novalidate>
    <div class="hero">
        <h3><a class="title">Settings</a></h3>
        <div> <a class="avatar" href="#"><img src="img/profile1.jpg"></a></div>      
    </div>
    <div class="list">
        <h2><a class="title password">CHANGE PASSWORD</a></h2>
      <label class="item item-input item-floating-label">
        <span class="input-label">Enter Old Password</span>
        <input type="password" name="password" ng-model="ps.password"  placeholder="Enter Old Password" required/>
      </label>
      <p ng-show="passChange.password.$invalid && !passChange.password.$pristine && passChange.password.$error.required" class="help-block"><span class="min-valid">Password is required.</span></p>
      <label class="item item-input item-floating-label">
        <span class="input-label">Enter New Password</span>
        <input type="password" name="Password1" ng-model="ps.password1" placeholder="Enter New Password"/>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Re-Enter New Password</span>
        <input type="password" name="Password2" ng-model="ps.password2" placeholder="Re-Enter New Password" req/>
      </label>
       <p ng-show="ps.IsMatch" class="help-block"><span class="min-valid">Passwords do not match.</span></p>
    </div>
    <div class="button-bar" style="position:fixed">
      <a class="button button-dark" ui-sref="app.profile">Cancel</a>
      <button class="button button-positive" ng-click="ps.add()">Save</button>
    </div>
  </ion-content>
</ion-view>