<ion-view view-title="Change Password" ng-controller="changePasswordCtrl as cpc">
<ion-nav-title >
        <a ui-sref="app.banner" href="javascript:;" ><img src="img/icon-small.png" class="appLogo"/></a>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="searchBar" >
    <i ui-sref="app.cart" class="icon ion-android-cart"><span class="badge badge-assertive cbadge" ng-if="cpc.cartTotal">{{cpc.cartTotal}}</span></i>
    </div>
</ion-nav-buttons>
  <ion-content class="forgot">
       <!-- Top Heading -->
       <div class="bar bar-header bar-dark">
          <h1 class="title">Change Password</h1>
        </div>
  
          <div class="list" style="padding-top: 92px;">
            <label class="item item-input item-floating-label">
              <span class="input-label">First Name</span>
              <input type="text" ng-model="cpc.username" name="username" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="text" ng-model="cpc.password" name="password" placeholder="Password">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Confirm Password</span>
              <input type="text" ng-model="cpc.confirm_password" name="confirm_password" placeholder="Confirm Password">
            </label>
            <button class="button button-full button-calm" ng-click="cpc.ChangePassword()">Submit</button>
          </div>

        </div>
  </ion-content>
</ion-view>
