<ion-view view-title="Setting" ng-controller="wishlistCtrl as wl">
<ion-nav-title >
        <a ui-sref="app.banner" href="javascript:;" ><img src="img/icon-small.png" class="appLogo"/></a>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="searchBar" >
      <i class="icon ion-android-more-vertical" ng-click="popover.show($event)" style="float:right;padding:0px 15px;"></i>
      <i ng-click="wl.goToCart()" class="icon ion-android-cart" style="float:right;padding:0px 15px;"><span class="badge badge-assertive cbadge" ng-if="wl.cartTotal" style="margin-left:0px!important;">{{wl.cartTotal}}</span></i>
    </div>
</ion-nav-buttons>
  <ion-content class="forgot">

  <div class="tabs-striped tabs-top tabs-background-positive ">
    <div class="tabs" style="float:left;width:100%;">
      <a class="tab-item" ui-sref="app.profile">
        <i class="icon ion-home"></i>
        Address
      </a>
      <a class="tab-item " ui-sref="app.myorder">
        <i class="icon ion-star"></i>
        Order
      </a>
      <a class="tab-item active"  ui-sref="app.wishlist">
        <i class="icon ion-heart"></i>
        Wishlist
      </a>
    </div> 
  </div>

  <!-- Top Heading -->
  <div class="bar bar-header bar-dark" style="float:left;width:100%;">
    <h1 class="title">Wishlist</h1>
  </div>

  
        <div class="list" style="margin-top: 80px; float:left;width:100%;" ng-if="wl.wishlist">
          <div class="card orderProduct" ng-repeat="x in wl.wishlist" >
            <a class="item item-thumbnail-left" href="#" style="border:none !important;">
              <img src="img/no-thumb.png" ng-src="{{x.product_image}}"/>
            </a>
            <div class="content"> 
              <h2>{{x.product_name}}</h2>
              <!-- <p ng-if="x.options" ng-repeat="y in x.options"><b>{{y.label}} :</b> {{y.value | uppercase}}</p> -->
              <p>Price: {{x.product_price | currency}}</p>
              <!-- <p>Quantity: {{x.qty | number}}</p> -->
            </div>
            <p style="text-align:center;">
              <button class="button button-small button-assertive" ng-click="wl.RemoveFromWishlist($index, x.wishlist_item_id)">Remove From Wishlist</button>
              <button class="button button-small button-positive" ng-click="wl.AddToCart(x.product_id)">Add To Cart</button>
            </p>
        </div>
      </div>

      <p ng-if="!wl.wishlist" class="no-record">Sorry! No Record Found.</p> 

<!--
        <div class="list card" style="padding-top: 92px;float:left;" ng-show="wl.isrecords">
          <a class="item item-thumbnail-left" href="#" ng-repeat="x in wl.wishlist">
            <img ng-src="{{x.product_image}}">
            <h2>{{x.product_name}}</h2>
            <p>Price {{x.product_price | currency}}</p>
            <p>Quantity {{x.qty | number}}</p>
            <p>
              <button class="button button-small button-assertive" ng-click="wl.RemoveFromWishlist($index, x.wishlist_item_id)">Remove From Wishlist</button>
              <button class="button button-small button-positive" ng-click="wl.AddToCart(x.product_id)">Add To Cart</button>
            </p>
          </a>
        </div> -->
  </ion-content>
</ion-view>
