<ion-view title="Product Listing" ng-controller="prodListingCtrl as pc">
 <ion-nav-title >
        <img src="img/icon-small.png" style="height: 36px; width: 36px; margin-top: 4px; "/>
  </ion-nav-title>
	<!-- <ion-nav-buttons side="right"  >
      <input type="search" ng-model="pc.searchproducts" />
      <i style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" class="icon ion-home" ng-click="goHome()"></i>
    </ion-nav-buttons>
-->
<ion-nav-buttons side="right">
    <div class="searchBar" >
        <div class="searchTxt" ng-show="pc.showMe">
            <div class="bgtxt">
                <input type="text" ng-model="pc.searchproducts" placeholder="Search Products" >
            </div>
        </div>
        <i class="icon ion-ios-search" ng-click="pc.showMeSearch()"></i>
    <i ui-sref="app.cart" class="icon ion-android-cart"></i>
    </div>
</ion-nav-buttons>


   <ion-content padding="true" class="has-header">
   
   <div class="bar bar-header bar-dark">
      <h1 class="title">{{pc.categoryHeading}}</h1>
      <button ui-sref="app.filter" class="button button clear ion-arrow-swap"></button>
      <button class="button button-clear ion-funnel" ng-click="pc.showMeSelect()"></button>
    </div>
  <ul class="dropdown" ng-hide="pc.showListing">
    <li class="item-sort">
      <a class="links" href="#" ng-click="pc.myclick('+price')">PRICE-HIGH TO LOW </a>
    </li>
    <li class="item-sort" style="padding:7px">
      <a class="links" href="#" ng-click="pc.myclick('-price')">PRICE-LOW TO HIGH </a>
    </li>
</ul>
  </div>

</div>
    
     <div  class="products" style="margin-top: 50px;">
        <div class="product" ng-repeat="x in pc.prodListing | orderBy:pc.selectPrice | filter:pc.searchproducts ">
            <div class="product_img"><a ng-click="pc.fetchDetail({{x.productid}})"><img ng-src="{{x.image}}" /></a></div>
            <div class="product_name">{{x.name}}</div>
            <div class="product_price">{{x.regularprice | currency:"$":0}}</div>
        </div>
	</div>
  </ion-content>
</ion-view>