/* Empty. Add your own CSS if you like */
.link-button
{
	text-decoration: underline;
}
.HDivider
{
	font-size:12px;
	color:#444;
	display:inline
}

/  Product listing /
.products{
    float:left;
    width:100%;
    margin: 3px;
}

.products .product{
    float: left;
    width:49%;
}

.product .product_img{
    text-align:center;
}
.product .product_img img{
    width: 180px !important;
    height: 190px;
}

.product .product_name{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #737373; 
}

.product .product_price{
    text-align: center;
    font-size: 14px;
    font-weight: 550;
    color: #489E4C;  
}

.product_detail .price span{
    float: left;
    padding: 0 10px;
}

.price .regularPrice{
    font-size: 18px;
    text-decoration: line-through;
    color: red;
    font-style: initial;
}

.price .specialPrice{
    font-size:20px;
    font-weight:600;
}

.price .discount{
    padding: 5px;
    background-color: #F4FF28;
    border: 1px solid #FF9600;
    border-radius: 10px;
}


/* ------- SEARCH ----*/
.searchBar {
    color: #fff;
    margin: 0 !important;
    padding: 0;
}
.searchBar .icon {
    font-size: 28px;
    line-height: 1.2;
    padding-right: 6px;
    padding-left: 6px;
    color: #fff;
}

.searchBar .icon {
    font-size: 28px;
    line-height: 1.2;
    padding-right: 6px;
    padding-left: 6px;
    color: #fff;
}
.searchBar .searchTxt {
    right: 70px;
    width: calc(100% - 110px);
    position: fixed;
    height: calc(100% - 10px);
}
.searchBar.numicons2 .searchTxt {
    width: calc(100% - 135px);
}
.searchBar .searchTxt > .bgdiv {
    background-color: #aaa;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
}
.searchBar .searchTxt > .bgtxt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.searchBar .searchTxt input {
    text-align:center;
    width: 100%;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #9E9E9E;
    border-radius: 15px;
}

.buttn{
    background:transparent url(../img/6-mens-footwear-SORT.jpg) no-repeat left;
    border:0;
}

.item-sort {
    border-color: #ddd;
    background-color: #444444;
    color: #fff;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 7px;
    font-size: 13px;
}

.links{
color: #fff;
text-decoration: initial;
font-size: 11px;
font-family: inherit;
}

.dropdown{
    position: absolute; 
    z-index: 999; 
    margin: 35px 0 0 250px;
    float: right;

}
/* Side Menu */

.filter-new{
   margin-top: 50px;
}

.filter-options{
color: #fff;
width: 100%;
font-size: 1.2em;
float: left;
text-decoration: none;
padding: 7px;
border-bottom:2px solid #ccc;
font-weight: 600;
text-align: center;
margin-top: 35px;

}

.filer-main{
float: left;
width: 26%;
background-color:#444444;
color: white;
margin-left: -10px;
height: 500px;
margin-top: 27px;
}

.filter-sub{
float: left;
margin-top: 32px;
width: 76%; 
background: rgba(170, 170, 170, 0.12);
height: 500px;
}
.filter-list{   
    background-color: rgba(170, 170, 170, 0.12); 
    border: none;
    color: #fff;
    margin: 0 0 0px 0px;
    border-bottom: 2px solid #ccc;
    height: 42px;
}
.filter-sub .checkbox input{
    float:right!important;
}
.customised-filter{
margin-left :-40px;

}
.filter-checkbox{
    width: 80% !important;
    height: 75% !important;
    border-width: 1px !important;
    border-style: solid !important;
    content: ' ';
}

.checkbox-filter {
    position: relative;
    display: inline-block;
    padding: 7px 7px;
    cursor: pointer;
    margin-top: 50px;
    
}

.sidenav .item,.sidenav .item-complex .item-content, .item-radio .item-content{
    background-color: #666;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 5px;
    border-width:0px;
}

.sidenav .item .icon{
    font-size:24px;
    font-weight:100;
}

.sideicon{
    float: left;
    width: 49%;
}

.sideicon .item-content{
    font-size: 20px !important;
    text-align: center;
    line-height: 30px !important;
    padding: 5px;
}


/* Validations */

.min-valid{
color:red;

}

.logintitle{
color: #fff;


}

 .collapse-text-toggle {
    font-size: 0.9em;
    color: #FFF;
    font-weight:600;
    cursor: pointer;
}
.collapse-text-toggle:before {
    content: '\00a0(';
}
.collapse-text-toggle:after {
    content: ')';
}